<!-- app/views/tasks/index.html.erb -->
<h1>Liste des tâches</h1>

<%= link_to 'Nouvelle Tâche', new_task_path, class: 'btn btn-primary mb-3' %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= link_to task.title, task_path(task) %></strong>
      <p><%= task.details %></p>
      <% if task.completed %>
        <p>Status: Completed</p>
      <% else %>
        <p>Status: Incomplete</p>
      <% end %>
    </li>
  <% end %>
</ul>
